@use 'abstracts/variables.scss';

@use 'base/base.scss';
@use 'base/reset.scss';

@use 'components/buttons.scss';
@use 'components/cards.scss';

@use 'layout/navigation.scss';
@use 'layout/hero.scss';
@use 'layout/fonctionnement.scss';
@use 'layout/footer.scss';
