@use 'variables';
@use 'reset';

html {
    font-family: 'roboto';
}

nav {
    img {
        width: 137px;
        margin: auto;
        padding-block: 1rem;
    }

    div {
        display: flex;
        justify-content: center;
        background-color: #eaeaea;
        padding: .5rem;
    }
}

main > * {
    padding-inline: 1rem;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    gap: 1rem;   
    padding-block: 2rem 3rem;
    background-color: #f6f6f6;
            box-shadow: 0px -4px 4px 0px #00000040;

    p {
        width: 32ch;
    }

    a {
    background: linear-gradient(193.33deg, #e12be7 -11.44%, #56026b 123.93%);
    box-shadow: 0px 4px 10px 0px #00000040;
    border-radius: 25px;
    border: none;
    padding: 1rem;
    color: #fff;
    font-weight: 500;
    font-family: 'roboto';
    font-size: 1rem;
    }
}

.fonctionnement {
    padding-block: 3rem;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
        padding-block: 1.5rem;
        background-color: #f6f6f6;
        box-shadow: 0px 4px 15px 0px #00000026;
        border-radius: 20px;
        position: relative;
        max-width: 322px;

        i {
            color: #7E7E7E;
            padding-inline: 2.2rem;
        }

        a {
        font-weight: 500;
        color: #000000;
        }
    }

}




img {
    width: 130px;
}