.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    gap: 1rem;   
    padding-block: 2rem 3rem;
    background-color: #f6f6f6;
            box-shadow: 0px -4px 4px 0px #00000040;

    p {
        width: 32ch;
    }
}