nav {
    img {
        width: 137px;
        margin: auto;
        padding-block: 1rem;
    }

    div {
        display: flex;
        justify-content: center;
        background-color: #eaeaea;
        padding: .5rem;
    }
}