@use '../abstracts/_mixins.scss';

html {
    font-family: 'roboto';
    scroll-behavior: smooth;
}

main > * {
    padding-inline: 1rem;
}

@include mixins.desktop {
    .homeSection {
        padding-inline: 153px;
    }
}