@use 'base/base.scss';
@use 'base/reset.scss';
@use 'base/mixins.scss';
@use 'base/variables.scss';

@use 'components/buttons.scss';
@use 'components/functioning-card.scss';
@use 'components/restaurant-card.scss';
@use 'components/grey.scss';

@use 'layout/navigation.scss';
@use 'layout/hero.scss';
@use 'layout/functioning.scss';
@use 'layout/restaurants.scss';
@use 'layout/footer.scss';
