nav {
    animation: enter 1s ease-out    ;
}

.slideL {
    animation: slideL 1s ease-out    ;
}

@keyframes enter {
    from {
        transform: translateY(-100px);
        opacity: 0%;
    }

    to {
        transform: translateY(0);
        opacity: 100%
    }
}

@keyframes slideL {
    from {
        transform: translateX(-100px);
        opacity: 0%;
    }

    to {
        transform: translateX(0);
        opacity: 100%
    }
}
