nav,
body {
    animation: enter 1s ease-out    ;
}

@keyframes enter {
    from {
        transform: translateY(-100px);
        opacity: 0%;
    }

    to {
        transform: translateY(0);
        opacity: 100%
    }
}