.fa-heart:hover {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0px !important;
}

.mainBtn:hover {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.dishCard {
  overflow: hidden;
  padding-right: 1rem;
  transition: padding-right 0.3s ease-in;
}
.dishCard::after {
  content: "";
  width: 0px;
  height: 100%;
  background: #99E2D0;
  display: block;
  position: absolute;
  inset: 0 0 0 auto;
  transition: all 0.3s ease-in;
  border-radius: 0 15px 15px 0;
}

.fa-check {
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: -1;
  color: white;
  transition: ease-in 0.25s;
  transform: translateY(-50%);
  font-size: 0;
}

.dishCard:hover .fa-check {
  z-index: 3;
  font-size: 1rem;
  color: #99E2D0;
  background-color: white;
  padding: 1rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.dishCard:hover::after {
  width: 70px;
}

.price {
  flex-shrink: 0;
  width: 3rem;
  text-align: right;
  transition: all 0.3s ease-in;
}

.dishCard:hover {
  padding-right: 80px;
}

.dishInfos p:first-child {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dishNav {
  transform: translateY(-100px);
  animation: nav 1s ease forwards;
}

@keyframes nav {
  to {
    transform: translateY(0);
  }
}
.dishCard {
  opacity: 0;
  transform: translateX(-30px);
  animation: cards 0.5s ease forwards;
}

@keyframes cards {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.dishCardsContainer .dishCard:nth-of-type(1) {
  animation-delay: 0.2s;
}

.dishCardsContainer .dishCard:nth-of-type(2) {
  animation-delay: 0.4s;
}

.dishCardsContainer .dishCard:nth-of-type(3) {
  animation-delay: 0.6s;
}

.dishCardsContainer .dishCard:nth-of-type(4) {
  animation-delay: 0.8s;
}

.loader {
  width: 70px;
  height: 70px;
  border: 6px solid #ddd;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: spin 2s linear forwards;
}

.loaderWrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 10;
  animation: wrapper 2s linear forwards;
}

@keyframes spin {
  0% {
    transform: rotate(720deg);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes wrapper {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
html {
  font-family: "roboto";
  scroll-behavior: smooth;
}

main > * {
  padding-inline: 1rem;
}

@media (min-width: 1024px) {
  .homeSection {
    padding-inline: 153px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

.mainBtn {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 25px;
  border: none;
  padding: 1rem 3rem;
  color: #fff;
  font-weight: 500;
  font-family: "roboto";
  font-size: 1rem;
  display: block;
  width: fit-content;
  margin: 3rem auto 0;
  transition: all 0.2s ease-in;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  justify-content: center;
  padding-inline: 1rem;
  counter-reset: count;
}
ol li {
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  text-align: center;
  padding: 1.5rem;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
ol li ::after {
  counter-increment: count;
  content: counter(count);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0.2rem;
  color: white;
  font-size: 0.9rem;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
}
ol li i {
  color: #7E7E7E;
}

@media (min-width: 1024px) {
  ol {
    flex-direction: row;
    gap: clamp(2rem, 1vw, 3rem);
  }
  ol li {
    min-width: 300px;
    width: 335px;
  }
}
.cardsContainer {
  display: grid;
  gap: 2rem 5rem;
  margin-block-start: 1rem;
}

.restaurantCard {
  border-radius: 15px;
  background-color: #fff;
  position: relative;
}
.restaurantCard img {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0 0;
}
.restaurantCard span {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #008766;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #99e2d0;
  border-radius: 2px;
  padding: 0.38rem 0.77rem;
}
.restaurantCard i {
  font-size: 1.1rem;
  z-index: 2;
}
.restaurantCard .cardLink {
  position: absolute;
  z-index: 1;
  inset: 0;
}
.restaurantCard div {
  padding-block: 0.3rem;
  margin-inline: 0.7rem;
}
.restaurantCard .fa-solid {
  -webkit-text-stroke: 1.5px black;
  color: transparent;
}

.cardContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

@media (min-width: 1024px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
.grey {
  background-color: #f6f6f6;
}

.restaurants {
  padding-block: 2rem;
}

.dishInfos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dishInfos p:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.price {
  position: relative;
  z-index: 2;
}

.dishCard {
  background-color: #fff;
  margin-block-end: 2rem;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 15px;
  position: relative;
}

nav img {
  width: 137px;
  margin: auto;
  padding-block: 1rem;
}
nav div {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 0.5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
  padding-block: 2rem 3rem;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.hero p {
  width: 32ch;
}
.hero * {
  margin: 0;
}

.functioning {
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
}
.functioning h2 {
  margin-block-end: 2rem;
  margin-inline-start: 1rem;
}

footer {
  background-color: #353535;
  padding: 1rem;
}
footer img {
  margin-block-end: 1.5rem;
  width: 140px;
  filter: brightness(0) invert(1);
}
footer li {
  list-style-type: none;
  margin-block-end: 0.4rem;
}
footer a {
  color: #fff;
}

@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 5rem;
    align-items: center;
  }
  footer img {
    padding-inline-end: 1rem;
    padding-block-start: 1rem;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
.dishNav {
  display: flex;
  align-items: center;
  padding-inline: 1rem;
}
.dishNav i {
  color: #353535;
}

.dishPageContainer {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  max-width: 1055px;
  margin: auto;
  position: relative;
  margin-top: -3rem;
  padding-block-end: 2rem;
}
.dishPageContainer h1 {
  padding-block: 5rem;
  text-align: center;
  font-family: "Shrikhand";
  font-size: 1.75rem;
  font-weight: 400;
}
.dishPageContainer h2 {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}
.dishPageContainer h2::after {
  content: "";
  display: block;
  background-color: #99e2d0;
  height: 3px;
  width: 40px;
  margin-block: 0.3rem 1rem;
}

.dishCardsContainer {
  max-width: 634px;
  margin: auto;
}

.dishCardHero {
  position: relative;
  height: 380px;
  overflow: hidden;
  padding: 0;
}
.dishCardHero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
