    .mainBtn {
    background: linear-gradient(193.33deg, #e12be7 -11.44%, #56026b 123.93%);
    box-shadow: 0px 4px 10px 0px #00000040;
    border-radius: 25px;
    border: none;
    padding: 1rem;
    color: #fff;
    font-weight: 500;
    font-family: 'roboto';
    font-size: 1rem;
    }