@use '../abstracts/_mixins.scss';

ol {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none; 
    justify-content: center;  
    padding-inline: 1rem;
    counter-reset: count; 

    li {
        
        background-color: #f6f6f6;
        box-shadow: 0px 4px 15px 0px #00000026;
        border-radius: 20px;
        text-align: center;
        padding: 1.5rem;
        position: relative;
        display: grid;
          grid-template-columns: auto 1fr auto;
        align-items: center;

        ::after {
                counter-increment: count;
                content: counter(count);
                width: 20px;
                height: 20px;
                border-radius: 50%;
                padding: .2rem;
                color: white;
                font-size: .9rem;
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: #9356DC;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        i {
            color: #7E7E7E; 
        }
    }
}

@include mixins.desktop {
    ol {
        flex-direction: row;
        gap: clamp(2rem, 1vw, 3rem);
       
        li {
             min-width: 300px;
             width: 335px;
        }
    }
}