@use '../abstracts/_mixins.scss';

ol {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none; 
    justify-content: center;  
    padding-inline: 1rem; 

    li {
        
        background-color: #f6f6f6;
        box-shadow: 0px 4px 15px 0px #00000026;
        border-radius: 20px;
        text-align: center;
        padding: 1.5rem;

        i {
            color: #7E7E7E;
        }
    }
}

@include mixins.desktop {
    ol {
        flex-direction: row;
        gap: clamp(2rem, 1vw, 3rem);
       
        li {
             min-width: 300px;
             width: 335px;
        }
    }
}