@use '../base/mixins.scss';
@use '../base/variables.scss';

.restaurantCard {
    border-radius: 15px;
    background-color: #fff;
    position: relative;

    img {
        object-fit: cover;
        width: 100%;
        height: 180px;
        border-radius: 15px 15px 0 0;
    }

    span {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: variables.$color-primary;
        font-size: .875rem;
        font-weight: 500;
        background-color: variables.$color-primary-light;
        border-radius: 2px;
        padding: .38rem .77rem;
    }

    i {
        font-size: 1.1rem;
        
    }

    div {
        padding-block: .3rem;
        margin-inline: .7rem;
    }
}

.cardContent {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    color: #000; 
}

.cardsContainer {
    display: grid;
    gap: 2rem 5rem;
    margin-block-start: 1rem;
}

@include mixins.desktop {
    .cardsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}