@use '../abstracts/variables';

.dishPageContainer { 
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    max-width: 1055px;
    margin: auto;
    position: relative;
    margin-top: -3rem;
    padding-block-end: 2rem;

    h1 {
        padding-block: 5rem;
        text-align: center;
        font-family: 'Shrikhand';
        font-size: 1.75rem;
        font-weight: 400;
    }

    h2 {
        font-weight: 300;
        font-size: 1rem;
        text-transform: uppercase;

        &::after {
            content: "";
            display: block;
            background-color: variables.$color-primary-light;
            height: 3px;
            width: 40px;
            margin-block: .3rem 1rem;
        }
    }
}

.dishCardsContainer {
    max-width: 634px;
    margin: auto;
}