@use '../base/mixins.scss';

footer {
    background-color: #353535;
    padding: 1rem;
    
    img {
        margin-block-end: 1.5rem;
        width: 140px;
        filter: brightness(0) invert(1);
    }
   
    li {
        list-style-type: none;
        margin-block-end: .4rem;
    }

    a {
        color: #fff;
    }
}

@include mixins.desktop {
    footer {
        display: flex;
        flex-direction: row-reverse;
        gap: 5rem;
        align-items: center;

        img {
            padding-inline-end: 1rem;
            padding-block-start: 1rem;
        }
        ul {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    }
}